<modal #groupModal>
  <modal-header>
    <h3>{{ groupTitle }}:</h3>
  </modal-header>
  <modal-content>
    <form #groupForm="ngForm">
      <div class="form-group">
        <label for="group">Group:</label>
        <input class="form-control" id="group" required [(ngModel)]="group.group" name="group" autofocus>
      </div>
    </form>
  </modal-content>
  <modal-footer>
    <button class="btn btn-default btn-sm" (click)="submit()" [disabled]="!groupForm.form.valid">Submit</button>
  </modal-footer>
</modal>
