@import '~antd/dist/antd.css';

.border-right {
    border-right: 1px solid lightgrey;
}

.border-left {
    border-left: 1px solid lightgrey;
}

.align-right {
    float: right;
}

.padding-top-5px {
    padding-top: 5px;
}

.padding-top-10px {
    padding-top: 10px;
}

.padding-bottom-5px {
    padding-bottom: 5px;
}

.border-top {
    border-top: 1px solid lightgrey;
}

.width-full {
    width: 100%;
    height: 34px;
}

.align-text-center {
    text-align: center;
}

.align-text-left {
    text-align: left;
}