<h3>Words</h3>

<button type="button" class="btn btn-default btn-sm align-right" (click)="addWord()"> New
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>

<table class="table">
  <thead>
  <tr>
    <th>Word</th>
    <th>Translation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let word of words | async">
    <td> <a routerLink="/words/{{word.$key}}">{{word.word}}</a></td>
    <td>{{word.translation}}</td>
  </tr>
  </tbody>
</table>

<word-info #wordInfo [unit]="unit" (onSubmit)="onSubmit($event)"></word-info>
