/* You can add global styles to this file, and also import other style files */
.bg-grey {
  background-color: whitesmoke;
}

.border-right {
  border-right: 1px solid lightgrey;
}

.border-left {
  border-left: 1px solid lightgrey;
}

.align-right {
  float: right;
}

.valign-center {
  vertical-align: middle;
}

.padding-top-5 {
  padding-top: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

@media print
{
  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }

  .page-header, group-list, #removeWord, #playWord, #newWord, #printWord{ display:none; }

  #content {
    width: auto; margin: 0 5%;
    padding: 0;
    border: 0;
    float: none !important;
    color: black;
    background: transparent;
  }

  .table, h3 {
    font-size: 150%;
  }
}
