/* You can add global styles to this file, and also import other style files */
.bg-grey {
  background-color: whitesmoke;
}

.border-right {
  border-right: 1px solid lightgrey;
}

.border-left {
  border-left: 1px solid lightgrey;
}

.align-right {
  float: right;
}

.valign-center {
  vertical-align: middle;
}

.padding-top-5 {
  padding-top: 5px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
