<modal #wordModal>
  <modal-header>
    <h3>{{ wordTitle }}</h3>
  </modal-header>
  <modal-content>
    <form #wordForm="ngForm">
      <div class="form-group">
        <label for="word">Word:</label>
        <input class="form-control" id="word" required [(ngModel)]="word.word" name="word">
      </div>
      <div class="form-group">
        <label for="translation">Translation:</label>
        <input class="form-control" id="translation" required [(ngModel)]="word.translation" name="translation">
      </div>
      <div class="form-group">
        <label for="comments">Comments:</label>
        <input class="form-control" id="comments" [(ngModel)]="word.comments" name="comments">
      </div>
    </form>
  </modal-content>
  <modal-footer>
    <button class="btn btn-default btn-sm" (click)="submit()" [disabled]="!wordForm.form.valid">Submit</button>
  </modal-footer>
</modal>
